<section class="container my-2">
  <div class="d-flex justify-content-between align-items-center my-4">
    <h2>Students Data</h2>
    <app-add-student></app-add-student>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">NationalID</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody *ngFor="let student of studentsArr">
      <tr>
        <td>{{ student.Name }}</td>
        <td>{{ student.Mobile }}</td>
        <td>{{ student.Email }}</td>
        <td>{{ student.NationalID }}</td>
        <td>{{ student.Age }}</td>
      </tr>
    </tbody>
  </table>
</section>
